.displayBox {
  border: 2px solid darkgrey;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
