.footerStyle {
  width: 100%;
  color: black;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  padding: 8px 0px;
  font-weight: bold;
  text-align: center;
  box-shadow: 8px 0px 30px lightgray;
}

.anchor {
  text-decoration: none;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
