.sideNav {
  padding-top: 100px;
}

.sideNavContent {
  position: sticky;
  top: 100px;
  padding-left: 0;
  left: 0;
  width: 90%;
  overflow-y: auto;
  height: 90vh;
  margin: 0px auto 0px;
}

.sideNavContent li {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sideNav {
    width: 100%;
    padding-top: 0px;
    margin-top: 81px;
    position: fixed;
    z-index: 999;
  }

  .sideNavContent {
    min-width: 100%;
    top: 90px;
  }

  .accordion {
    border-bottom: 1px solid rgba(0,0,0,0.125);
  }

  .collapsed {
    height: 0px;
  }
}