.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: white;
  padding: 40px 20px;
  box-shadow: 5px 0px 10px 5px lightgray;
  font-size: 20px;
  width: 100%;
  z-index: 1;
}

.responsiveNav {
  display: none;
  align-items: center;
  justify-content: center;
  color: #666; 
  margin: auto 0px auto 15px;
  width: 40px; 
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
  .responsiveNav {
    display: flex;
  }
}