.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 40px;
}

.styleContainer {
  display: inline-block;
  width: fit-content;
  padding: 4px 10px;
}

.styleButton {
  background: lightgreen;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  float: left;
  margin: 3px 5px;
}

.copyButton {
  background-color: lightskyblue;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
}
