.header {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: white;
  padding: 40px 20px;
  box-shadow: 5px 0px 10px 5px lightgray;
  font-size: 20px;
  width: 100%;
  z-index: 1;
}

.bodyWrapper {
  display: grid;
  grid-template-columns: 20% auto 20%;
  height: 100%;
}

.sideNav {
  padding-top: 100px;
}

.sideNavContent {
  position: sticky;
  top: 100px;
  left: 0;
  width: 90%;
  overflow-y: auto;
  height: 90vh;
  margin: 0px auto 0px;
}

.sideNavContent li {
  cursor: pointer;
}

.bodyContainer {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 120px;
  width: auto;
  margin-bottom: 60px;
}

.footerStyle {
  width: 100%;
  background-color: lightcoral;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  padding: 10px 0px;
  font-weight: bold;
  text-align: center;
}
